{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="login-form">
<form method="post" action=".">
  {% csrf_token %}
  <div class="login-fields">
      Username: {{ form.username|add_class:"form-control" }}
      Password: {{ form.password|add_class:"form-control" }}
  </div>
  <input type="submit" class="btn btn-secondary btn-login" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>{% trans "Not member" %}? <a href="{% url 'register' %}">{% trans "Register" %}</a>!</p>
</div>

{% endblock %}
