{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container theme-showcase" role="main">
<div class="jumbotron">
  <div class="container">
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary btn-lg" type="submit" value="{% trans 'Log in' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p>{% trans "Not member" %}? <a href="{% url 'register' %}">{% trans "Register" %}</a>!</p>
  </div>
</div>
</div>
{% endblock %}
