.btn-link{
	color: white!important;
}

.top_panel {
	background-color: #336699;
}

.top_btns {
	text-align: right;
	margin-right: 5%;
}

.wrapper {
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

.signup_btn {
	padding: 30px;
}
#toshit:hover {
    background-color: #214899;
    color: white;
}
#toshit {
    background-color: #ffffff;
    color: #202020;
}

.register-form, .login-form {
    padding-top: 30px;
    margin: 0 auto;
}

.register-fields, .login-fields {
    text-align: left;
}

.register-btn, .login-btn {
    margin-top: 20px;
    float: right;
}

.upload_form {
    text-align: left;
    padding: 30px;
    margin: auto;
    width: 60%;
}

.card{
    width: 300px;
    border: 1px solid gray;
    box-shadow: 1px 1px 7px #b4b4b4;
    border-top: 10px solid green;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: #e2e3dd;
}

#mainbox {
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.label_form_item {
    font-size: 16px;
}

.submit_file {
    margin-top: 10px;
}

.form_items {
    padding-top: 15px;
}

.theme-showcase {
    padding-top: 30px;
}

.jumbotron {
    width: 70%;
    margin: 0 auto;
}