.btn-link{
	color: white!important;
}

.top_panel {
	background-color: #336699;
}

.top_btns {
	text-align: right;
	margin-right: 5%;
}

.wrapper {
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

.signup_btn {
	padding: 30px;
}
#toshit:hover {
    background-color: #214899;
    color: white;
}
#toshit {
    background-color: #ffffff;
    color: #202020;
}

.register-form, .login-form {
    padding-top: 30px;
    width: 30%;
    margin: 0 auto;
}

.register-fields, .login-fields {
    text-align: left;
}

.register-btn, .btn-login {
    margin-top: 20px;
    float: right;
}