{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for file in files %}
        <a href="{{ file.file.url }}">{{ file.file.name }}</a>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload_form">
        {% for item in form %}
            <div class="{{ item.name }}">
                <div class="label_form_item">
                    <label for="id_{{ item.name }}">{{ item.label }}:</label>
                </div>
                {{ item }}
                <hr>
            </div>
        {% endfor %}
        <input type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}
