{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container theme-showcase" role="main">
<div class="jumbotron">
	<div class="wrapper">
		<div class="signup_btn">
			<a href="{% url 'register' %}"><button type="button" class="btn btn-lg btn-primary ">Sign up</button></a>
		</div>
		<div class="content">
			<p>Fuck it, give me write off all the shit!</p>
		</div>
		<div class="toshit_btn">
			<a href="{% url 'faculties' %}"><button type="button" class="btn btn-lg btn-success ">Go to the shit</button</a>
		</div>
	</div>
</div>
</div>
{% endblock %}
