{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="specialities-wrapper">
        <p class="additional-text">Your faculty is {{ chosen_faculty }}, your course is {{ chosen_course }}</p>
    <div id="mainbox">
	{% for speciality in specialities %}
        <a href="{% url 'specialization' chosen_faculty.id chosen_course.id speciality.id %}">
            <div class="specialities-card">
                <h1>{{ speciality }}</h1>
            </div>
        </a>
	{% endfor %}
    </div>
    </div>
{% endblock %}
