{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="specializations-wrapper">
        <p class="additional-text">
	        Your faculty is {{ chosen_faculty }}, your course is {{ chosen_course }}, your speciality is {{ chosen_speciality }}.
        </p>
    <div id="mainbox">
	{% for specialization in specializations %}
        <a href="{% url 'files' chosen_faculty.id chosen_course.id chosen_speciality.id specialization.id %}">
            <div class="specializations-card">
                <h1>{{ specialization }}</h1>
            </div>
        </a>
	{% endfor %}
    </div>
    </div>
{% endblock %}