{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container theme-showcase" role="main">
<div class="jumbotron">
  <div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Your faculty is {{ chosen_faculty }}, your course is {{ chosen_course }}, your speciality is {{ chosen_speciality }}</h2>
			</div>
			<div class="panel-body">
				{% for specialization in specializations %}
					<a class="list-group-item" href="{% url 'files' chosen_faculty.id chosen_course.id chosen_speciality.id specialization.id %}"><p>{{ specialization }}</p></a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
