{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="jumbotron">
    <div class="conteiner">
    <div class="files-wrapper">
        <p class="adtn-text">
            Your faculty is {{ chosen_faculty }},<br>
            your course is {{ chosen_course.course }},<br>
        </p>
        <div class="form-link">
            Have something more to share?
            <a href="{% url 'files' chosen_faculty.id chosen_course.id %}">Click to add more files</a>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item disabled">Files</a>
          {% for file in files %}
            <a href="{{ file.file.url }}" class="list-group-item">
                Subject: {{ file.subject }} <br>
                File name: {{ file.file.name }}
            </a>
          {% endfor %}


</div>






        </div>
    </div>

{% endblock %}
